/*Fonts*/
@font-face {
    font-family: RobotoBold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Growland-Bold;
    src: url("../fonts/growland/Growland\ Bold.otf");
}

/*Etiquetas generales para definir valores comunes entre los elementos*/
*{
    font-family: Roboto;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 2.5rem;
}
h2{
    font-family: RobotoBold;
    font-size: 4rem;
}

/*Parte superior del encabezado*/
#top{
    background-image: linear-gradient(to right, rgba(255,0,0), rgba(150,0,0,0.75), rgba(0,0,0,0.5)), url('../img/wallHead.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    border-right: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}

/*Seccion en que se encuentra la firma (logo y titulo) de la pagina*/
#firm{
    margin: 6rem 0;
    padding-left: 3rem;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}
#firm img{
    height: 17rem;
    border-radius: 50%;
}
#firm h1{
    margin-left: 3rem;
    width: 25rem;
    color: white;
    font-size: 6rem;
    font-family: RobotoBold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#firm span{
    padding: 0 1rem;
    font-size: 8rem;
    font-family: Growland-Bold;
    text-align: center center;
    color: red;
    background-color: white;
}

/*Seccion de navegacion dentro del encabezado*/
#nav{
    padding: 5vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}
#nav a:hover{
    color: red;
}

/*Descripcion de la pagina y parte inferior del encabezado*/
.description{
    padding: 2rem 20%;
    background-color: rgb(107, 15, 15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description p{
    font-size: 1.7rem;
    text-align: center;
}

/*Seccion de enlaces a las distintas categorias del menu*/
#menuLinks{
    margin: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#menuLinks h2{
    padding: 2rem;
    color: red;
    border-bottom: 2px solid red;
}
#menuLinks nav{
    margin-top: 5rem;
    display: grid;
    grid-template-areas: "IT CR" "PO DR";
    gap: 3rem;
}
#menuLinks a{
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    border-radius: 2rem;
    transition: transform 0.5s;
}
#menuLinks a:hover{
    transform: scale(0.9);
}
#italLink{
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5)), url("../img/italian.jpg");
    background-size: cover;
    background-position: center right;
    grid-area: IT;
}
#crioLink{
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5)), url("../img/criolla.jpg");
    background-size: cover;
    background-position: center right;
    grid-area: CR;
}
#postLink{
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5)), url("../img/postres.jpg");
    background-size: cover;
    background-position: center right;
    grid-area: PO;
}
#drinkLink{
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5)), url("../img/drinks.jpg");
    background-size: cover;
    background-position: center right;
    grid-area: DR;
}

/*Seccion detallada sobre la categoria de los platos del menu*/
#platos{
    margin: 3rem 0;
    padding: 3rem;
    text-align: center;
}
#platosH{
    padding: 2rem;
    color: red;
    border-bottom: 2px solid red;
}
#platos article{
    margin: 6rem 0;
}
#platos table{
    width: 100%;
}
.pl h3{
    margin: 3rem 8rem;
    color: rgb(107, 15, 15);
    font-size: 3rem;
}
#platos th{
    font-size: 2rem;
    color: black;
    border-bottom: 1px solid rgb(107, 15, 15);
}

/*Seccion de registro del sitio*/
#regis{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#regis h2{
    margin: 3rem 0;
    padding: 2rem;
    height: 5rem;
    text-align: center;
    color: red;
    animation: cta 3s ease-in-out infinite;
}
#regis form{
    margin: 3rem 0;
    width: 50%;
    height: 45rem;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)), url("../img/wallReg.jpeg");
    background-position: center bottom;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#regis input{
    margin: 1.5rem 0;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
}
#regis input:hover{
    border: 2px solid red;
}
#regis input[type="submit"]{
    margin: 3rem 0;
    width: 40%;
    color: white;
    background-color: red;
    border-radius: 2rem;
    transition: transform 0.5s;
}
#regis input[type="submit"]:hover{
    transform: scale(1.2);
}

/*Pie de la seccion principal*/
#footerMain{
    background-color: rgb(107, 15, 15);
}
#footerMain p{
    font-size: 1.7rem;
    text-align: center;
}

/*Pie de pagina con las declaraciones legales y nombre de autor*/
footer{
    padding: 2rem 20%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer small{
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
}
strong{
    color: red;
    font-size: 3rem;
}
address, p, time{
    font-style: normal;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
}

/*Secciones de enlaces a perfiles del personal*/
.reference{
    margin: 8rem 0;
    padding: 2rem;
    width: 70%;
    color: white;
    background-image: linear-gradient(to bottom, rgb(107, 15, 15), rgba(0, 0, 0, 0.5)), url("../img/wallReg.jpeg");
    background-position: center right;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.reference section{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.reference img{
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
}
.reference div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.reference h3{
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
}
.reference h4{
    font-size: 2.2rem;
    text-align: left;
    background-image: linear-gradient(to right, red, rgba(0,0,0,0));
}
.reference h5{
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
}
.refLink{
    padding: 1rem 10rem;
    font-size: 2rem;
    text-decoration: none;
    color: red;
    background-image: linear-gradient(to right, rgba(0,0,0,0), black, rgba(0,0,0,0));
    align-self: center;
    transition: transform 0.5s;
}
.refLink:hover{
    transform: scale(1.2);
}
#ref1{
    align-self: flex-start;
    border-radius: 0 15rem 15rem 0;
}
#ref2{
    align-self: flex-end;
    border-radius: 15rem 0 0 15rem;
}

/*Animaciones*/
@keyframes cta {
    0%{
        font-size: 4rem;
    }
    50%{
        font-size: 5rem;
    }
    100%{
        font-size: 4rem;
    }
}

/*Adaptaciones segun el tamaño y resolucion de pantalla*/
@media (max-width: 1400px) {
    *{
        font-size: 12px;
    }
    #regis form{
        width: 60%;
    }
    .reference{
        width: 75%;
    }
}
@media (max-width: 1000px) {
    *{
        font-size: 9.5px;
    }
    #top{
        height: auto;
        border: none;
        background-image: linear-gradient(to bottom, rgba(255,0,0), rgba(150,0,0,0.75), rgba(0,0,0,0.5)), url('../img/wallHead.jpg');
        display: flex;
        flex-direction: column;
    }
    #firm{
        padding: 3rem;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #firm img{
        margin-top: 2rem;
        width: 25rem;
        height: auto;
        border-radius: 50%;
        border: none;
    }
    #firm h1{
        margin: 0px;
        margin-top: 3rem;
        color: white;
        font-size: 6rem;
    }
    #firm span{
        font-size: 8rem;
        color: red;
        background-color: white;
    }
    #nav{
        margin-top: 4rem;
        padding: 2rem;
        background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #nav a:hover{
        color: black;
    }
    #regis form{
        width: 70%;
    }
    .reference{
        width: 90%;
    }
}
@media (max-width: 550px) {
    *{
        font-size: 7px;
    }
    #top{
        height: auto;
        border: none;
        background-image: linear-gradient(to bottom, rgba(255,0,0), rgba(150,0,0,0.75), rgba(0,0,0,0.5)), url('../img/wallHead.jpg');
        display: flex;
        flex-direction: column;
    }
    #firm{
        padding: 3rem;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #firm img{
        margin-top: 2rem;
        width: 25rem;
        height: auto;
        border-radius: 50%;
        border: none;
    }
    #firm h1{
        margin: 0px;
        margin-top: 3rem;
        color: white;
        font-size: 7.5rem;
    }
    #firm span{
        font-size: 10rem;
    }
    #nav{
        margin-top: 4rem;
        padding: 2rem;
        background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #nav a:hover{
        color: black;
    }
    .description{
        padding: 2rem 5%;
    }
    .description p{
        font-size: 2rem;
    }
    #menuLinks nav{
        margin-top: 5rem;
        text-align: center;
        display: grid;
        grid-template-areas: "IT" "CR" "PO" "DR";
        gap: 3rem;
    }
    #menuLinks a{
        font-size: 2.3rem;
    }
    .pl h3{
        font-size: 3.5rem;
    }
    #platos th{
        font-size: 2.5rem;
    }
    #regis form{
        width: 80%;
    }
    #regis input{
        width: 85%;
        font-size: 1.7rem;
    }
    footer small{
        font-size: 1.7rem;
    }
    address, p, time{
        font-size: 2rem;
    }
    .reference{
        width: 90%;
    }
}